/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #ffef11;
    font-size: 25px;
}


body {
    line-height: 2.2;
    background-color: #ffffff;
    font-size: 25px;
}

.logo {
    width: 120px;
    height: 120px;
}


.title {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

.hero {
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.hero img {
    width: 100%;
}

.cta-button {
    position: absolute;
    bottom: 350px;
    right: 50px;
    margin: 0;
    background-color: #000000; 
    color:  #ffffff;
    padding: 20px 40px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 30px;
}

.cta-button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* List view styles */
.list-view table {
    width: 100%;
    border-collapse: collapse;
}
.list-view th, .list-view td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.list-view th {
    background-color: #f4f4f4;
}


.list-view a {
    color: #0000EE;
    text-decoration: none;
}

.member-card {
    border: 1px solid #ffef11;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    text-align: center;
}

.grid-view .business {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    width: 30%; 
    text-align: center;
}


.grid-view img {
    width: 100px;
    height: auto;
}





/* footer */

footer {
    text-align: center;
    padding: 10px 0;
    background: #000000;
}

footer p {
    color: #ffffff;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: auto;
    padding: 2%;
}

.social a {
    margin: 0 10px;
}


#lastModified {
    color: white;
}

