/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #ffef11;
    font-size: 25px;
}


body {
    line-height: 2.2;
    background-color: #ffffff;
    font-size: 25px;
}

.logo {
    width: 120px;
    height: 120px;
}


.title {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

.hero {
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.hero img {
    width: 100%;
}

.cta-button {
    position: absolute;
    bottom: 350px;
    right: 50px;
    margin: 0;
    background-color: #000000; 
    color:  #ffffff;
    padding: 20px 40px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 30px;
}

.cta-button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* main */
.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 2%;
}

/* Event and Weather Cards */
.event-card {
    width: 800px;
    background-color:  #ffef11;
    padding: 20px;
    border: 4px solid #000000;
    border-radius: 15px;
    flex: 1;
    margin: 0; 
    font-size: 30px;
    margin-top: 2%;
}

.weather-card {
width: 700px;
background-color:  #ffef11;
padding: 20px;
border: 4px solid #000000;
border-radius: 15px;
flex: 1;
margin: 0; 
font-size: 30px;
margin: 2%;
}


.event-card h3, .weather-card h3, .event-card p, .weather-card p {
    margin: 5px 0; 
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; 
}

/* Spotlight section */


.spotlight-section {
    margin-top: 50px;
}

.business-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Business Cards */
.business-card {
    background-color: #ffef11; 
    padding: 20px;
    border: 4px solid #000000; 
    border-radius: 15px;
    flex: 1 0 30%; 
    text-align: center;
    margin: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, border-color 0.3s ease; /* Smooth hover effect */
}



.spotlight-section h3 {
    text-align: center;
    font-size: 50px;
    padding: 2%;
}
/* Business Card Content */
.business-card img {
    width: 500px;
    height: auto;
    margin: 2%;
}

.business-card h3 {
    color: #000000; 
    font-size: 3.5em;
    margin-bottom: 10px;
}

.business-card p {
    color: #333333; 
    font-size: 2.5em;
    margin-bottom: 10px;
}

.business-card a {
    color:  #000000;/* Yellow link color */
    font-size: 2.0em;
    font-weight: bold;
}

.business-card:hover {
    transform: scale(1.05); 
}



/* footer */

footer {
    margin-top: 2%;
    text-align: center;
    padding: 10px 0;
    background: #000000;
}

footer p {
    color: #ffffff;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: auto;
    padding: 2%;
}

.social a {
    margin: 0 10px;
}


#lastModified {
    color: white;
}



/* Responsive design */
@media (max-width: 768px) {
    .card-container {
      flex-direction: column;
    }
  
    .event-card,
    .weather-card,
    .business-card {
      width: 100%;
      margin-bottom: 20px;
    }

    .nav-links {
        display: none; 
    }

    .header-container {
        flex-direction: column; 
        text-align: center;
    }


    .hero img {
        width: 100%; 
    }

    
    .cta-button {
        display: block;
        margin: 10px auto;
        padding: 10px;
        font-size: 1.2em;
    }


    footer {
        padding: 20px;
        text-align: center;
    }

    footer p {
        font-size: 0.9em;
    }

    .social img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }

 
    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    .grid-view .business {
        width: 100%;
        margin: 10px 5px;
    }

}